:host {
  width: 300px;
  margin: 30px 0;
}
.app-card {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.card-img{
  width: 80%;
}
.card-img-top{
  width: 100%;
  display: flex;
  justify-content: center;

}

.header1-label{
  padding: 5px 20px;
}

.content-text {
  padding: 20px;
}

.footer-label{
  width: 95%;
  display: flex;
  justify-content: flex-end;
  padding: 0 0 5px 0;

}
